
body {
    background-color: #F9F9F9;
    color: #4B5D67;
}

p {
    margin-bottom: 5px;
}

a {
    text-decoration: none;
    font-size: small;
}

.navbar {
    font-size: small;
    box-shadow: 0 1px 2px 2px #DFDFDE;
}

.navbar .container-fluid .navbar-toggler .navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28166, 75, 42, 1%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='4' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

.navbar .container-fluid .navbar-toggler {
    color: #F9F9F9;
    border: 1px solid #F9F9F9;
} 

.container-fluid {
    margin: 0 7rem;
}

.no-border {
    border: none;
    box-shadow: 0 1px 1px 1px #DFDFDE;
}

.search-section {
    margin: 2rem;
}

.search-bar-input {
    display: flex;
    justify-content: center;
}

#search-input-space {
    font-family: Arial, FontAwesome;
    border-radius: 50px; 
    width: 270px;
}

.search-btn-div {
    margin: 1rem;
    display: flex;
    justify-content: center;
}

.search-btn {
    border: none;
    outline: none;
    background: none;
    padding: 5px;
    font-weight: bold;
    color: #82954B;
    box-shadow: 0 1px 1px 1px #DFDFDE;
    border-radius: 5px;
}

.filter-bar {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.checkbox-div {
    padding: 0 0.5rem; 
    display: flex; 
    justify-content: space-around; 
    align-items: center;
}

.filter-btn {
    border: none;
    outline: none;
    background: #82954B;
    padding: 5px 10px;
    color: #ffff;
    border-radius: 3px;
}

.sort-section {
    margin: 2rem 7rem 1rem 7rem;
    display: flex;
    justify-content: space-between;
}

.catalog-section {
    margin: 0 7rem;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.card {
    width: 15rem; 
    height: fit-content;
}

.btn-request-book {
    padding: 5px;
    background-color: white;
    color: #A64B2A;
    font-size: small;
    border: 1px solid #A64B2A;
    border-radius: 3px;
}

.card-mobile {
    display: none;
    padding: 0.5rem;
}

.card-mobile-img {
    width: 10rem;
    margin-right: 0.5rem;
    box-shadow: 0 3px 3px 3px #DFDFDE;
}

.card-mobile-body {
    font-size: large;
    width: 11rem;
    margin-left: 0.5rem;
}

.card-mobile-desc {
    text-align: center;
    border: 2px solid #DFDFDE;
    padding: 0 0.5rem;
}

.btn-mobile-request {
    margin: 0.3rem 0;
    padding: 0.3rem;
    display: block;
    width: 100%;
    background-color: #82954B;
    color: white;
    border: none;
    border-radius: 3px;
    box-shadow: 0 3px 3px 3px #DFDFDE;
}

.btn-mobile-details {
    margin: 0.3rem 0;
    padding: 0.3rem;
    display: block;
    width: 100%;
    background-color: #A64B2A;
    color: white;
    border: none;
    border-radius: 3px;
    box-shadow: 0 3px 3px 3px #DFDFDE;
}

.footer {
    margin: 2rem 7rem 5rem 7rem;
}

.page-toggle {
    padding: 8px 10px;
    background-color: white;
    color: black;
    border-radius: 3px;
    box-shadow: 0 1px 1px 1px #DFDFDE;
}

@media only screen and (max-width: 1400px) {
    .card {
        width: 12rem;
    }
}

@media only screen and (max-width: 1100px) {
    .container-fluid {
        margin: 0 3rem;
    }

    .card {
        width: 11rem;
    }
}

@media only screen and (max-width: 990px) {
    .sort-section {
        margin: 1rem 3rem;
    }

    .catalog-section {
        margin: 0 3rem;
    }

    .card {
        margin: 0.5rem;
    }

    .footer {
        margin: 2rem 3.5rem 3rem 3.5rem;
    }
}

@media only screen and (max-width: 700px) {
    .container-fluid {
        margin: 0 2rem;
    }

    .search-section {
        margin: 1rem;
    }

    .search-btn {
        padding: 3px;
    }

    .sort-section {
        margin: 1rem 1rem;
    }

    .catalog-section {
        margin: 0 1rem;
    }

    .footer {
        margin: 1.5rem;
    }
}

@media only screen and (max-width: 620px) {
    .card {
        display: none;
    }

    .catalog-section {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    .card-mobile {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

@media only screen and (max-width: 560px) {
    .div1 {
        padding-bottom: 0.5rem;
    }
}

@media only screen and (max-width: 500px) {
    body {
        font-size: small;
    }

    p {
        margin-bottom: 2px;
    }

    .container-fluid {
        margin: 0 1rem;
    }

    #search-input-space {
        width: 200px;
    }
}